<div class="page-top" style="width: 100%; height: 20px; background-color: #000080"></div>

<nav class="navbar navbar-default navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand pointer" routerLink="/home">BOOK WORM</a>
		</div>

		<div id="navbar" class="example-spacer">
			<ul class="nav justify-content-end">
				<li><a class="nav-link active" routerLink="/bookList">BOOK</a></li>
				<form (ngSubmit)="onSearchByTitle()" class="navbar-form">
					<div class="form-group">
						<input type="text" name="searcyByTitle" [(ngModel)]="keyword" class="form-control" placeholder="Book Title" />
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>

				<li class="nav-item" *ngIf="!loggedIn">
					<a class="nav-link active" routerLink="/myAccount">MY ACCOUNT</a>
				</li>
				<li class="nav-item" *ngIf="loggedIn">
					<a class="nav-link active" routerLink="/shoppingCart">SHOPPING CART</a>
				</li>
				<li class="nav-item" *ngIf="loggedIn">
					<a class="nav-link active" routerLink="/myProfile">MY PROFILE</a>
				</li>
				<li class="nav-item" *ngIf="loggedIn">
					<a class="nav-link active" (click)="logout()">LOGOUT</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
